@media only screen and (min-width: 768px){
	#header-2 .main-nav .nav .dropdown-menu {
	  background: #100b47 !important;
	}
	#header-2 .main-nav .nav .dropdown-menu:before{
    border-bottom: 10px solid #100b47  !important;
	}
	#header-2 .main-nav .nav .nav-item .dropdown-menu  .active{
  	background: #9f1669 !important;
	}
	#header-2 .main-nav .nav .dropdown-menu a:hover {
    background: #9f1669 !important;
	}
}
body{
	background: url(../assets/images/bg.png) !important;
}
.bg-img{
	background-image: url(../images/bg.png);
	    background: #ffffff8f !important;
}
.mt-0{
	margin-top: 0 !important;
}
.p-0{
	padding: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.pr-0{
	padding-right: 0 !important;
}
.text-right{
	text-align: right !important;
}
.content-wrapper{
	min-height: 693px;
	background: url(../assets/images/bg.png) !important;
}
.navbar-default {
  background-color: #9F1669 !important;
}

#header-2 .main-nav .nav .nav-item a {
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
}
#header-2 .main-nav .nav {
    margin-top: 33px !important;
}
#header-2 .main-nav .nav .nav-item.active a {
  color: #226903 !important;
  text-shadow: 0 0 20px #ffffff !important;
}
ul li, ol li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #ffffff !important;
}
.content-1-5{
	padding: 90px 0 60px 0 !important;
	background-image: url(../images/bg.png);
	background-color: transparent !important;
}
.basic-1-1{
 text-shadow: 0 0 black !important;
}
.content-1-9{
	padding: 242px 0 242px 0 !important;
}
.content-1-3{
	padding: 161px 0 160px 0 !important;
}
.contact-1{
	background-color: transparent !important;
}
.copyright-bar{
	background-color: #226a04  !important;
}
.content-1-5 h1 {
    color: #4a4a4a !important;
		font-weight: 500;
}
.lead {
  font-weight: normal !important;
/*	font-size: 22px !important;*/
}
.process-number{
	font-size: 60px;
}
.content-1-9{
	background-image: url(../images/bg.png);
}
.price-img {
	width: 100%;
}
.price-text{
	font-weight: 700;
}
.contact-1 .contact-info li {
  color: #4a4a4a !important;
}
.contact-title{
	font-weight: 500;
	color: #4a4a4a !important;
}
.underlined-title hr {
  border-color: #fab600 !important;
}
.contact-1 .contact-info span {
  color: #9f1669 !important;
}
.content-sponsor{
	background: #ffffff !important;
	padding: 60px 0 60px 0 !important;
}
.content-3-6{
	/*padding: 0 !important;*/
	background: transparent !important;
}
.content-3-4{
	background: transparent !important;
}
.panel-title > a, .panel-title > a:hover{
	background: #68c4f1 ;
	color: #fff;
}
.panel-title > a.collapsed span{
	 color: #9f1669;
}
.panel-title > a:hover span {
    color: inherit;
}
.surec-title{
	padding-top: 0 !important;
	margin-top: 0 !important;
	font-weight: normal;
	color: #ffffff !important;
}
.content-3-6 .feature-box{
	background: #d4c74d !important;
}
.surec-date{
	font-weight: normal;
	color: #ffff !important;
}.content-3-6 .feature-box p {
    line-height: 20px !important;
    color: #ffffff;
    opacity: 1 !important;
}
.gallery-1{
	background: transparent !important;
}
.gallery-item:hover .gallery-thumb .gallery-zoom{
	margin-left: -19px !important;
}
.gallery-item .gallery-thumb .gallery-zoom, .gallery-item .gallery-thumb .gallery-link{
	background-color: #e16682 !important;
}
.form-group{
	position: unset !important;
}
.apply-title{
	padding: 0 15px 0 15px !important;
}
.add-member-btn{
	background: #D4C74D;
}
.add-member-btn:hover{
  background:#e2ca1f !important;
	color: #ffffff !important;
}
.add-member-btn:focus{
	outline: none !important;
	color: #ffffff !important;
}
.apply-btn{
	background: #9f1669;;
}
.apply-btn:hover{
	background: #100B47;
	color: #ffffff !important
}
.apply-btn:focus{
	outline: none !important;
	color: #ffffff !important;
}
.link-a{
	color: #d53939 !important;
}
.footer-ws{
	background-color: #100B47 !important;
	bottom: 0;
/*	position: fixed;*/
}
.footer-1-3 {
    padding-top: 5px !important;
}
.underlined-title-sss{
	text-align: center;
}
.underlined-title-sss h2{
	font-size: 35px;
	text-transform: uppercase;
	color: #686868;
	font-family: inherit;
}
.underlined-title-sss hr{
  border-color: #f15a29 !important;
	width: 10%;
	border-width: 2px;
}
.underlined-title-gallery{
	text-align: center;
	padding-bottom: 30px;
}
.underlined-title-gallery h1{
	font-size: 35px;
	text-transform: uppercase;
	color: #686868;
	font-family: inherit;
}
.underlined-title-gallery hr{
  border-color: #f15a29 !important;
	width: 10%;
	border-width: 2px;
}
a{
	cursor: pointer;
}
.logo-img{
	width: 50px !important;
}
.prize-block{
	padding: 12rem 1rem 12rem 1rem !important;
	background-color: transparent !important;
}
.prize-img{
	width: 80%;
	padding-top: 4rem;
}
.prize-one-img{
	padding-top: 6rem;
}
.fb-title{
	font-weight: 500;
}
.fb-content{
	font-size: 16px !important;
	color: #000000;
}
.contact-1{
	background-color: transparent !important;
	padding: 200px 0 60px 0 !important;
}
.contact-2{
	background-color: transparent !important;
	padding: 60px 15px 60px 15px !important;
}
.contact-1 .contact-info li{
	font-size: 18px !important;
}
.warning-text{
	color: red;
	font-weight: 500;
}
